{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "no-underscore-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "no-nested-ternary": "off",
    "indent": ["error", 2, { "flatTernaryExpressions": true }],
    "vue/script-setup-uses-vars": "off",
    "camelcase": "off",
    "no-warning-comments": "warn",
    // allow optionalDependencies for config files
    "import/no-extraneous-dependencies": ["error", {
      "optionalDependencies": ["**/*config.js"]
    }]
  }
}
