.ol-trace.ol-control {
  top: 4.75em;
  left: 0.5em;
}

.ol-trace.ol-control button.active {
  background-color: #fc3;
  background-color: rgba(255, 204, 51, 0.7);
}

.ol-trace.ol-control button object svg {
  pointer-events: none;
}

*:has(> .interactive-content-overlay) {
  position: relative;
}

.interactive-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
